.container {
  margin: 2rem;
  font-family: Helvetica, Arial, sans-serif;
}

.GS-Label {
  margin-top: 5px;
  padding-top: 1px;
  margin-bottom: 10px;
  max-width: 1000px;
  font-weight: bold;
}

.GS-Input {
  max-width: 1000px;
  border-radius: 6px;
  display: block;
  margin-top: 0.5rem;
  overflow-y: auto;
  white-space: pre-wrap;
}

.GS-Error-Message {
  margin-top: 0.5rem;
  color: red;
  display: block;
}
